@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    font-family: "Outfit", sans-serif;
    background-color: hsl(212, 45%, 89%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.main-container {
    background-color: hsl(0, 0%, 100%);
    max-width: 320px;
    border-radius: 20px;
}
.image-container {
    padding: 15px;
}
.image-container img {
    border-radius: 20px;
    width: 100%;
    display: block;
    object-fit: cover;
}
.content-container {
    padding: 15px;
}
.content-container h1 {
    font-size: 20px;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}
.content-container p {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    padding: 20px;
}